/* Dit is de style van het custom theme voor inspiratiekinderopvang */
@font-face {
  font-family: "Roboto Slab";
  src: url("assets/fonts/RobotoSlab-Light.ttf");
}
@font-face {
  font-family: "Amatic SC";
  src: url("assets/fonts/AmaticSC-Regular.ttf");
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/segoeuil.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/seguili.ttf");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/segoeuisl.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/seguisli.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/segoeui.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/segoeuii.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/seguisb.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/seguisbi.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/segoeuib.ttf");
  font-weight: 900;
}

// colors
$blue: #A3D4CF;
$pink: #FCEAE4;
$yellow: #E9C73B;
$red: #ff561d;
$light-gray: #f8f8f8;
$dark-gray: #A29F9F;
$darker-gray: #E7E6E6;
$green: #3FDA79;

//mixins

@mixin box-shadow ($x, $y, $blur, $spread) {
  -webkit-box-shadow: $x $y $blur $spread rgba(0,0,0,0.1);
  -moz-box-shadow: $x $y $blur $spread rgba(0,0,0,0.1);
  box-shadow: $x $y $blur $spread rgba(0,0,0,0.1);
}

a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #999;
}

a.back{
  position: relative;
  left: -1em;
  top: -1em;
}

.back:before{
  content: '<';
  position: relative;
  left: -1em;
}

body{
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  @include box-shadow(0px, 5px, 10px, 0px);
}

main{
    padding-top: 10vh;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li{
  margin-right: 4em;
}

.logo-type{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.5em;
  width:10%;
  margin-left: 1.5em;
  font-weight: 100;
}

.full{
  height: 100vh;
}

section {
  display: flex;
}

section:last-of-type{
  height: 74vh;
}

.explanation{
  p{
    margin-top: 2em;
    max-width: 25em;
    line-height: 1.5
  }
}

.what{
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .squirel{
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 8em;
  }
}

h1, h2{
  font-weight: 900;
  font-size: 180%;
  max-width: 20em;
  line-height: 1.2
}

.cta{
  margin-top: 1.5em;
  color: white;
  background-color: $yellow;
  padding: 1.2em;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-size: 125%;
  font-family: 'Segoe UI';
  font-weight: 500;
  border-radius: 5px;
  @include box-shadow(0px, 20px, 50px, 0px);
  cursor: pointer;
}

button.cta:hover{
  @include box-shadow(0px, 0px, 55px, 0px);
  transition: all 200ms;
}

.why{
  background-image: url('assets/images/vorming.png');
  background-size:cover;
  justify-content: flex-end;

  .explanation{
    background-color: white;
    padding: 2em;
    width: 20em;
    align-self: center;
    margin-right: 8em;
  }
}

button.minor{
  font-family: 'Segoe UI', sans-serif;
  margin-top: 2em;
  padding: 1.5em;
  width: 100%;
  border: 1px solid $red;
  color: $red;
  background-color: rgba(0,0,0,0);
  text-transform: uppercase;
  font-size: 120%;
  cursor: pointer;
  transition: all 200ms;

  &:hover{
    background-color: $red;
    color: white;
  }
}

.button_container{
  position: absolute;
  bottom: 0;
  right:0;
}

.extra{
  flex-direction: row;
  justify-content: space-between;
}

.main{
  display: flex;
  flex-direction: column;
  padding: 4em;
}

.content{
  display: flex;
  flex-direction: row;
}

.pi_box_inner{
  border: 1px solid $red;
  padding: 2em;
  min-width: 16em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 2em 2em 2em;
  line-height: 135%;

  p{
    margin-top: 1em;
  }

  .large{
    font-weight: 900;
    font-size: 150%;
  }
}

.pi_box_outer{
  display: flex;
  flex-direction:column;

  h3 {
    font-weight: 900;
    text-transform: uppercase;
    background-color: white;
    padding: 1.5em;
    text-align: center;
    top: 2em;
    display: inline-block;
    position: relative;
    align-self: center;
  }
}

.aside{
  display: flex;
  background-color: $blue;
  width: 30%;
}

.wistjedatje{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em;
  margin: 4em;
  justify-content: space-between;
  max-height: 50%;
  width: 100%;
}
h1{

}

footer{
  padding: 4vh;
  width: 100%;
  background-color: $red;
  display: flex;
  flex-direction: row;

  p{
    color:white;
  }

  img{
    position: relative;
    height: 50%;
    width: 3%;
    top: -10px;
    margin-left: 10px;
  }
}

.infinite{
  display: flex;
  flex-direction: column;
  margin-left: 8em;
  height: auto !important;

  p,h1,h2,h3,h4,h5,h6{
    width: 61vw;
    margin-bottom: 1em;
    max-width: inherit;
  }

  p{
    margin-bottom: 4em;
    line-height: 135%;
  }

  h1{
    margin-top: 2em;
    font-weight: 100;
  }

  h2{
    font-weight: 700;
    font-size: 160%;
  }

  h3{
    font-weight: 700;
    font-size: 130%;
  }

  h4{
    font-weight: 700;
    font-size: 115%;
  }

  h5{
    font-weight: 700;
    font-size: 100%;
    font-style: italic;
  }

  h6{
    font-size: 100%;
    text-decoration: underline;
   }
}

.praktijken{

  h3{
    width:90%;
  }

  p{
    width: 55%;
  }

  .praktijk_inner{
    display: flex;
    flex-direction: row;
  }

  .praktijk_outer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .praktijk_wrapper{
    width: 50%;
  }

  .praktijk_header{
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 1em 2em 0;
  }
}
.sessie{
  margin: 4em 0 0 8em;
  width: 70vw;

  .sessie_info{
    flex-direction:column;
  }

  .sessie_thumbnail{
    width: 50%;
  }

  .sessie_terms{
    flex-direction: row;

    p{
      display: inline-block;
      background-color: $pink;
      padding: 0.6em;
      margin: 1em 0;
    }
  }

  p{
    line-height: 135%;
    max-width: 61%;
    margin: 0.5em 0;
  }

  h4{
    font-weight: 900;
  }

  .content{
    margin: 1em 0;
    flex-direction: column;
  }

  .sessie_audience{
    margin: 2em 0;
  }

  .original{
    color: $red;
    border-bottom: 1px solid $red;
  }
}

.sessie_image{
  height: 100%;
  width: 14vh;
  background-position: center;
  background-size: cover;
}

.sessie_box_outer{
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  cursor: pointer;
  height: 10vh;
  width: 80%;
  transition: all 200ms;

  &:hover{
    @include box-shadow(0px, 20px, 50px, 0)
  }
}

.sessie_box {
  background-color: #FAFAFA;
  width: 100%;
  padding: 1em;

  &.current{
    background-color: $red;
    color: white;

    p{
      color: white;
    }
  }

  h3,p{
    margin: 0.4em 0;
  }

  p{
    font-weight: 400;
    font-size: 85%;
    color: $dark-gray;
  }

  h3{
    margin-top: 0;
    font-size: 125%;
    font-weight: 900;
  }
}

//special styles

  strong{
    font-weight: 900;
  }

.index_error{
  align-self: center;
  text-align: center;
  width: 100%;
  line-height: 135%;
  display: flex;
  flex-direction:column;
  align-items: center;


  p:last-of-type{
    margin-top: 3em;
    font-size: 100%;
    padding: 2em;
    font-weight: 500;
    border: 1px solid $red;
  }

  h1{
    font-weight: 100;
    margin-bottom: 1em;
  }


  .bee_404 {
    background-image: url('assets/images/bij.png');
    width: 20vh;
    height: 20vh;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    animation: float 1s;
    animation-iteration-count: infinite;
    position: relative;
    margin-bottom: 5vh;
    left:2vw;
  }
}


// Voor programma
.line_up_outer{
  flex-direction: row;
  height: auto !important;
  position: relative;

  button.minor[name="button_sessie_archive"]{
    position: fixed;
    BOTTOM: 2em;
    right: 2em;
    width: inherit;
    text-transform: initial;
    padding: 1em 1.5em;
    transition: all 250ms;
  }
}

.helper{
  width: 45vw;
  flex-direction: column;
  height: auto !important;
  line-height: 135%;

  h3{
    font-weight: 900;
    font-size: 120%;
  }

  p{
    font-weight: 100;
    margin: 1ex 0 2em;
  }

  .cta{
    background-color: $green;
    width: 50%;
  }
}

#current_step_0{
  margin-top: 240px;
  margin-left: 8em;

  &:after{
    content: ' ';
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    background-image: url(assets/images/arrows/arrow_1.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -80px;
    left: -110px;
  }
}

#current_step_2{
  width: auto;
  text-align:center;

  &:after{
    content: ' ';
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    background-image: url(assets/images/arrows/arrow_2.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -110px;
    left: 370px;
  }

}

#current_step_3,
#current_step_4{
  margin: 12em 0 0 4em;
}

.session_list{
  padding-top: 4em;
  margin-left: 45vw !important;
}

.line-up,
.session_list{
  width: 45vw;
  margin: 4em 0 2em 8em;
  flex-direction: column;
  height: auto !important;

  h1{
    font-weight: 100;
    margin-bottom: 1.5em;
  }

  .session_field_outer{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
  }

  .label{
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
  }

  .label_indicator{
    border: 2px solid $darker-gray;
    background-color: rgba(0,0,0,0);
    height: 13px;
    width: 13px;
    margin-right: 0.5em;
    border-radius: 0.5em;
  }

  .correct{
    background-color: $green;
    border: 2px solid $green;
  }

  .pending{
    background-color: $yellow;
    border: 2px solid $yellow;
  }

  .unselected{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
  }

  .session_field_inner{
    background-color: $light-gray;
    width: 100%;
    padding: 1em 2em;
    border-radius: 5px;
    flex: 3;
    cursor: pointer;
    transition: margin 200ms;
    flex-direction: column;
    transition: all 200ms;

    .session_header{
      position: relative;
      left: -2em;
      top: -1em;
      height: 4vh;
      width: calc(100% + 4em);
      transition: all 300ms;
      border-radius: 5px 5px 0 0;
    }

    &.unselected:hover{
      margin-left: 2em;
    }
  }

  .session_field_inner .session_location,
  .session_field_inner .session_time{
    color: $dark-gray
  }

  .session_field_inner .session_location{
    display: none;
  }

  .session_field_inner.selected:hover{
    padding: 2em;

    .session_header{
      height: 10vh;
      top: -2em;
    }

    .session_location{
      display: inherit;
    }
  }

  .helper_selected{
    background-color: white;
    @include box-shadow(0px, 20px, 50px, 0px);
    z-index: 1;

    .plus{
        background-color: $blue;
    }
  }

  .plus{
    background-color: $dark-gray;
    color:white;
    font-weight: 900;
    padding: 0.5em;
    padding-top: 0.3em;
    margin-right: 0.5em;
  }

  .session_title{
    font-weight: 900;
    margin-bottom: 0.5em;
  }

  .disabled{
    background-color: $darker-gray;
    color: #999;
    cursor: default;
  }
}

.empty{
  margin-top: 30vh;
  text-align: center;
}

.session_header{
  width:100%;
  height: 15vh;
  background-size: cover;
  background-position: center;
}



.cfas_outer{
  display: flex;

  .line-up{
    justify-content: flex-start;
    width: 30vw;
    position: fixed;
  }

  .label{
    flex: 0;
    justify-content: center;
  }

  .session_content{
    background-color: $light-gray;
    height: 65vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    .session_inner{
      padding: 1em;
    }

    h3{
      font-size: 125%;
      font-weight: 900;
      margin-top: 1.5;
      margin-bottom: 0.5em;
    }

    .session_time,
    .session_location{
      color: $dark-gray;
      margin-bottom: 0.2em;
      font-size: 85%;
    }

    .session_broodtext{
      height: 25vh;
      overflow: auto;
      margin-top: 1em;

      p{
        margin-bottom: 0.5em;
        line-height: 135%;
        font-size: 90%;
      }
    }
  }
}

.registration_information{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  justify-content: center;
  align-items: center;


  .overlay{
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .reg_info{
    background-color: white;
    padding: 2em;
    z-index: 3;
    position: relative;
    top:3vh;
    opacity: 0;

    legend{
      margin-bottom: 40px;
      font-size: 120%;
      font-weight: 900;
    }

    input{
      display:block;
      background-color: $light-gray;
      border: none;
      padding: 1em;
      font-family: 'Segoe UI';
      font-weight: 400;
      width: 94%;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

.all_sessions{
  min-height: 10vh;
}

.sub_header{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  width: 53vw;
  justify-content: space-between;

  h1{
    width: auto;
    margin-top: 0;
  }

  input#search{
    background-color: #FAFAFA;
    border: none;
    padding: 1em;
    margin-bottom: 1em;
  }
}

.filters{
  margin: 6em 0 0 4em;
  // width: 35vw;

  .filter_form{
    padding: 2em;
    background-color: $light-gray;

    legend{
      text-transform: capitalize;
      font-weight: 900;
      font-size: 115%;
      margin-bottom: 0.3em;
    }

    fieldset{
      margin-top: 1.5em;
    }

    .checkbox_outer{
      display: flex;
      flex-direction: row;
      margin: 0.2em 0;

      &.selected{
        font-weight:900;
      }
    }

    .count{
      margin-left: 0.5em;
      display: inline;
      color: $dark-gray;
    }
  }
}

.loading{
  background-image: url(assets/images/loader.gif);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
}

.hidden{
  display: none;
}


.error{
  color: white;
  background-color: $red;
}

@keyframes float {
  50%{top: -3vh;}
}
